@import 'mixins';

// Variables
:root {
	/* Typography */
	--font-family: 'Inter', sans-serif;
	--font-size-13: 1.3rem;
	--font-size-16: 1.6rem;
	--font-size-20: 2rem;
	--font-size-26: 2.6rem;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	/* Light Colors */
	--color-primary-light: #303030;
	--color-accent-light: #ec7160;
	--color-hover-light: #da5745;
	--color-gray01-light: #505050;
	--color-gray02-light: #898989;
	--color-gray03-light: #e7e7e9;
	--color-gray04-light: #f6f6f6;
	--color-white-light: #fff;
	--color-errors-light: #d82700;
	/* Dark Colors */
	--color-primary-dark: #f6f6f6;
	--color-accent-dark: #ef8678;
	--color-hover-dark: #ec7160;
	--color-gray01-dark: #b7b7b7;
	--color-gray02-dark: #858585;
	--color-gray03-dark: #303030;
	--color-gray04-dark: #191919;
	--color-black-dark: #000;
	/* Other */
	--border-radius: 0.7rem;
	--transition-timing: 1s;
}

// Start Global Style
.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.deleted {
	border-radius: var(--border-radius);
	border: 1px solid #ff0000;
	border-width: 1px 0;
	animation: fadeOutMoveLeft 0.6s ease-in;
}

@keyframes fadeOutMoveLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	50% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-150px);
	}
}

.highlighted-note {
	border: 1px solid green;
	border-width: 1px 0;
	border-radius: var(--border-radius);
	background-color: var(--color-gray03-light);
	animation: fadeInMoveRight 1.2s ease-in;
}

@keyframes fadeInMoveRight {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}
	50% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.drag-over {
	border-radius: 0.7rem;
	background-color: var(--color-gray04-light);
	border-bottom: 1px solid var(--color-accent-light);
	transition: transform 0.3s ease;
}

#mobile-header {
	display: none;
}

.search-form {
	display: flex;
	align-items: center;
	width: 21rem;
	height: 3.401rem;
	margin: 5.705rem 0 3.594rem;
	border-radius: var(--border-radius);
	background-color: var(--color-white-light);
	.search-button {
		margin: 0.8rem;
	}
	.search-input {
		width: 17rem;
		height: 2rem;
		&::placeholder {
			@include text-style(
				$size: var(--font-size-13),
				$line-height: 2rem,
				$weight: var(--font-weight-regular),
				$color: var(--color-gray02-light)
			);
		}
	}
}
// End Global Style

// Start Styles for the Aside Section
.aside {
	min-width: 25.8rem;
	height: 100%;
	padding-left: 24px;
	background-color: #f6f6f6;
	border-right: 0.1rem solid var(--color-gray03-light);
	.header {
		.logo {
			@include aclonica-regular;
			margin-top: 41px;
		}
	}
	.close-sidebar-icon {
		display: none;
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 0.8rem;
		.aside__link {
			@include text-style(
				$line-height: 2.7rem,
				$color: var(--color-primary-light)
			);
			span {
				position: relative;
				display: inline-block;
				top: 0.45rem;
				width: 3px;
				height: 2rem;
				margin-right: 1.2rem;
				background-color: var(--color-accent-light);
				transition: all 0.6s ease;
			}
			&.not-active {
				color: var(--color-gray02-light);
				.line {
					opacity: 0;
				}
			}
		}
	}
}
// End Styles for the Aside Section

// Start Styles for the Main Section
.main {
	height: 100%;
	width: 100%;
	&__wrap {
		height: 100%;
		width: 100%;
		.active-page {
			display: block;
		}
		#notesPage {
			position: relative;
			height: 100%;
			width: 100%;
			display: none;
			&.active-page {
				display: flex;
			}
			.sidebar.toggled {
				position: absolute;
				left: -2rem;
				min-width: 2rem;
				border: none;
				.sidebar__top,
				.sidebar__bottom {
					display: none;
				}
				.sidebar-toggle__icon {
					transform: rotate(-180deg);
					transition: all 3s ease;
				}
			}

			.sidebar {
				position: relative;
				height: 100%;
				display: grid;
				grid-template-rows: auto 1fr;
				grid-template-columns: 1fr;
				min-width: 32.2rem;
				padding-top: 4.8rem;
				border-right: 0.1rem solid var(--color-gray03-light);
				transition: all 1s ease;
				&-toggle {
					position: absolute;
					right: -1.45rem;
					top: 12.917rem;
					&__icon {
						transform: rotate(360deg);
						transition: all var(--transition-timing) ease;
					}
				}
				&__title {
					@include text-style(
						$size: var(--font-size-13),
						$line-height: 2rem,
						$color: var(--color-accent-light)
					);
				}
				.pinned {
					padding-left: 2.8rem;
					margin-bottom: 0.6rem;
				}
				.notes {
					margin: 1.4rem 0 1.9rem;
					padding: 1rem 0 0.8rem 2.8rem;
					border: 0.1rem solid var(--color-gray03-light);
					border-width: 1px 0;
				}
				&__top {
					overflow: auto;
					.notes-wrapper {
						max-height: 21.3rem;
						/* Override pinned-note class when added with JavaScript */
						.note.pinned-note {
							background-color: transparent;
						}
					}
				}
				&__bottom {
					grid-row: 2;
					overflow-y: auto;
					.notes-wrapper {
						max-height: 88%;
						// I will be back to replace this with absolute notes h2 element and delete all of this rules 🤪
						@include dynamicHeight(1050px, 1200px, 88%);
						@include dynamicHeight(925px, 1049, 85%);
						@include dynamicHeight(700px, 924px, 82%);
						@include dynamicHeight(630px, 700px, 78%);
						@include dynamicHeight(580px, 629px, 75%);
						@include dynamicHeight(540px, 579px, 70%);
					}
				}
			}

			.notes-wrapper {
				overflow-y: auto;
				@include customScrollbar;
				.note {
					width: 29.8rem;
					padding: 1.1rem 1.6rem 0.6rem;
					margin: 0 auto 1rem;
					font-size: var(--font-size-13);
					color: var(--color-gray02-light);
					user-select: none;
					&-title {
						@include text-style(
							$size: var(--font-size-16),
							$line-height: 2.7rem,
							$color: var(--color-primary-light)
						);
						margin-bottom: 0.3rem;
					}
					&-content {
						margin-bottom: 1.6rem;
						max-height: 5.1rem;
						overflow: hidden;
					}
					&-footer {
						display: flex;
						justify-content: space-between;
						line-height: 2rem;
						.publish-date .note-author {
							display: none;
						}
						.delete-button {
							margin-right: 1.5rem;
							color: var(--color-errors-light);
						}
					}
				}
				.active-note .note-title {
					font-size: var(--font-size-20);
					line-height: 2rem;
				}
				.pinned-note {
					background-color: var(--color-gray04-light);
					border-radius: var(--border-radius);
				}
			}

			// Styles for the Content
			.content {
				width: 100%;
				overflow: auto;
				word-break: break-word;
				&-wrap {
					position: relative;
					margin: 11.4rem 15.3rem 1rem 9.9rem;
					.content__note-wrap {
						max-height: 70vh;
						overflow-y: auto;
						@include customScrollbar;
						.note {
							&-title {
								@include text-style(
									$size: var(--font-size-26),
									$line-height: 3.1rem,
									$color: var(--color-primary-light)
								);
								margin-bottom: 1.2rem;
							}
							&-date {
								font-size: var(--font-size-13);
								line-height: 2rem;
								color: var(--color-gray02-light);
								margin-bottom: 3.9rem;
							}
							&-content {
								text-align: justify;
								@include text-style(
									$size: var(--font-size-16),
									$line-height: 2.7rem,
									$color: var(--color-primary-light)
								);
							}
						}
					}
					.add-icon {
						position: absolute;
						right: -9.1rem;
						bottom: -2.533rem;
						width: 65px;
						height: 65px;
						border-radius: 50%;
						background: url(../images/add-icon.svg) no-repeat;
						background-position: -25px -16px;
					}
				}
			}
		}

		#addPage {
			display: none;
			height: 100%;
			width: 100%;
			overflow-y: auto;
			@include customScrollbar;
			padding: 11.4rem 37.9rem 23.8rem 20.3rem;

			// Adjust padding to resolve overflow issue
			@media (min-width: 992px) and (max-width: 1430px) {
				padding: 10rem 2rem 5rem 12rem;
			}

			&.active-page {
				display: block;
			}
			.add__page {
				padding-right: 10rem;
				.note-title {
					@include text-style(
						$size: var(--font-size-26),
						$line-height: 3.1rem,
						$color: var(--color-primary-light)
					);
					margin-bottom: 3.6rem;
				}
				form {
					position: relative;
					// Confirmation Style
					#confirmation-message {
						position: absolute;
						display: none;
						width: 50rem;
						color: green;
						user-select: none;
						text-align: center;
						padding: 2.25rem 5rem;
						border: 1px solid green;
						font-weight: var(--font-weight-bold);
						border-radius: var(--border-radius);
						background-color: var(--color-gray03-light);
						animation: fadeinout 3s ease;
					}
					@keyframes fadeinout {
						0% {
							opacity: 0;
						}
						50% {
							opacity: 1;
						}
						80% {
							opacity: 1;
							transform: translateY(50%);
						}
						100% {
							opacity: 0;
							transform: translateY(100%);
						}
					}
					.required-input {
						animation: fadeinout-errors 3s ease;
					}
					@keyframes fadeinout-errors {
						0% {
							border: 1px solid transparent;
						}
						50% {
							border: 1px solid var(--color-errors-light);
						}
						100% {
							border: 1px solid transparent;
						}
					}
				}
				form label {
					@include text-style(
						$size: var(--font-size-13),
						$line-height: 2rem,
						$color: var(--color-gray02-light)
					);
				}
				form input,
				textarea {
					width: 50rem;
					height: 4.5rem;
					margin: 0.6rem 0 3.9rem;
					padding: 1rem;
					border-radius: var(--border-radius);
					background-color: var(--color-gray04-light);
				}
				textarea,
				textarea:active,
				textarea:hover,
				textarea:focus {
					height: 15rem;
					margin-bottom: 4.8rem;
					resize: none;
					line-height: 1.5;
					@include customScrollbar;
				}
				button {
					@include text-style(
						$size: var(--font-size-13),
						$line-height: 2rem,
						$color: var(--color-white-light)
					);
					padding: 1rem 2.2rem;
					border-radius: 0.5rem;
					background-color: var(--color-accent-light);
					&:not(:nth-child(2)) {
						margin-right: 2.7rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.aside {
		padding-left: 1rem;
		min-width: 21rem;
		.header {
			.search-form {
				width: 19rem;
				.search-input {
					width: 15rem;
				}
			}
		}
	}

	.main {
		#notesPage {
			.sidebar {
				min-width: 25rem;
			}
			.notes-wrapper {
				.note {
					width: 23rem;
				}
			}
			.content {
				min-width: 50rem;
				&-wrap {
					margin: 10rem 10.3rem 0 6rem;
					.add-icon {
						right: 0;
						bottom: -8rem;
					}
				}
			}
		}
	}
}

@media (min-width: 300px) and (max-width: 992px) {
	// Always hide the PC header on mobile devices
	.container .aside .header {
		display: none;
	}

	.container {
		overflow: auto;
		#mobile-header {
			position: fixed;
			display: block;
			width: 100vw;
			left: 0;
			padding: 2rem 1.5rem;
			z-index: 1;
			background-color: var(--color-white-light);
			.logo {
				@include aclonica-regular;
			}
			.header-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				& * {
					display: block;
					margin: 0;
				}
				.toggle-form {
					cursor: pointer;
					.close-icon {
						display: none;
					}
				}
			}
			.search-form {
				display: none;
				width: 100%;
				margin: 3.3rem 1px 0;
				background-color: var(--color-white-light);
				animation: fadeInMoveDown 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
				.search-input {
					width: 90%;
				}
			}
			@keyframes fadeInMoveDown {
				0% {
					opacity: 0;
					transform: translateY(-50px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		// Aside linkes - on mobile
		.aside {
			display: none;
			padding-left: 0;
			.close-sidebar-icon {
				display: block;
				margin: 2.1rem 0 4.2rem 1.536rem;
			}
			&__links {
				margin-left: 1.536rem;
			}
		}

		.main {
			.main__wrap {
				#notesPage {
					// Notes page - on mobile
					.sidebar {
						// Forget that there is something called Toggle on mobile, Ahmad
						.sidebar-toggle .sidebar-toggle__icon {
							display: none;
						}
						width: 100%;
						padding: 0;
						padding-top: 9.4rem;
						margin-top: 0;
						.pinned {
							padding-left: 2.7rem;
							margin-bottom: 0.5rem;
						}
						.notes {
							margin: 2.2rem 0 1.6rem;
							padding: 0.9rem 0 0.7rem 2.8rem;
						}
						.notes-wrapper {
							padding: 0 1.6rem;
							.note {
								width: 100%;
								padding: 0.9rem 1.1rem 1.1rem;
							}
						}
						&__top {
							.notes-wrapper {
								max-height: 14.7rem;
							}
						}
						&__bottom {
							overflow-y: auto;
							.notes-wrapper {
								max-height: 76%;
								@media (min-height: 400) {
									max-height: 90%;
								}
							}
						}
					}
					.content {
						// Details page - on mobile
						display: none;
						&-wrap {
							margin: 9.7rem 1.6rem 0;
							.content__note-wrap {
								max-height: 85vh;
								.note {
									margin-bottom: 3rem;
								}
							}
							.add-icon {
								display: none;
							}
						}
					}
				}
				// Add page - on mobile
				#addPage {
					padding: 0;
					& .add__page {
						padding: 9.7rem 1.6rem 3rem;
						form input,
						textarea,
						#confirmation-message {
							width: 100%;
						}
						.buttons-wrap {
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
		}
	}
}
