//  font-size / line-height
// 26/31
// 20/24
// 16/27
// 13/20

.inter-regular {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

.aclonica-regular {
	font-family: 'Aclonica', sans-serif;
	font-weight: 400;
	font-style: normal;
}
